:root{
    --primary: #344A99;
    --secundario: #d1d1d1;
    --blanco: #ffffff;
    --negro: #262626; 

}
html{
    box-sizing: border-box; /*fija el ancho*/
    font-size: 62.5%; /*para tener una base de 10px*/

}
*, *:before, *:after { 
  box-sizing: inherit;
}
body{
  font-size: 1.6rem;
}
img{

}
a{
  text-decoration: none;

}
[class*="contenedor"]{ /*selector de ateibuto*/
  max-width: 120rem;
  margin: 0 auto;/*auto centra automaticamente*/
  width: 95%;
}
/*------------------------------HEADER--------------------------------------------------------------------*/
.header{
  height: 100vh;
  background-image: linear-gradient(to right, rgba(29, 106, 248, 0.5) 0%,  rgba(127,63,244, .5) 100%), url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media(min-width:768px){
  .header{
    height: 50vh;
    background-position: left 40%;
  }
}
.header__barra{
  display: flex;
  flex-direction: column;
  
}
@media(min-width: 768px){
  .header__barra{
    flex-direction: row;/*cuando utilizo flex-direction row y deseo alinear de manera horizontal, utilo justify-content*/
    /*cuando deseo alinear de manera vertical uso*/
    justify-content: space-between;
  }
}
.header__navegacion{
  background-color: yellow;
  padding: 2rem 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}